
.w-p100 {
    width: 100%;
}

.w-1120 {
    margin: 0 auto;
    width: 1120px;
}


.top,.top-content {
    background: #292525;
}

.top,.top-content,.top_logo,.top_nav,.top_nav_item,.top_right {
    height: 60px;
    line-height: 60px;
}

.top {
    position: relative;
}

.top_logo,.top_nav,.top_right {
    display: block;
    float: left;
}

/* ----- *//* ----- *//* ----- *//* ----- *//* ----- */

.top_logo,
.top_logo a img {
    width: 100px;
}

.top_logo>a {
    margin: 0 auto;
    height: 36px;
    line-height: 60px;
}

.top_logo a img {
    margin: 12px auto;
    display: block;
    height: 36px;
}

/* ----- *//* ----- *//* ----- *//* ----- *//* ----- */

.top_nav {
    margin: 0 145px;
    width: 610px;
}

.top_nav_item {
    margin: 0 6px;
    width: 110px;
    text-align: center;
    color: #ddd;
    font-size: .14rem;
    cursor: pointer;
    float: left;
}

.top_nav_item a:link,
.top_nav_item a:visited {
    color: #ddd;
}

.top_nav_item a:hover {
    color: #fff;
}

.top_nav_item:hover .top_nav_open {
    display: block;
}

.top_nav_open {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 72px;
    background: rgba(41,37,37,.8);
    line-height: 72px;
    font-size: 0;
    z-index: 5;
}

.tno_item {
    display: inline-block;
    padding: 0 20px;
    height: 72px;
    font-size: .14rem;
}

.tno_item:hover {
    background: #000;
}


.split-line {
    display: inline-block;
    border-left: 1px solid #666;
    width: 0px;
    height: 40px;
}

span.icon {
    font-size: .26rem;
}

.tno_item span.icon {
    font-size: .42rem;
}

.tno_item span {
    color: #fff;
}






/* ----- *//* ----- *//* ----- *//* ----- *//* ----- */

.main {
    margin: 0 auto;
    background: #f4f4f4;
    overflow: hidden;
}

.main_carousel {
    position: relative;
    margin: 0 auto 150px;
    height: 325px;
}
.main_carousel-button,
.main_carousel-nav,
.main_carousel-card {
    position: absolute;
    height: 325px;
}

.carousel-nav_item {
    position: absolute;
}

.carousel-nav_item a img {
    width: 100%;
    height: 100%;
}

/* ----- *//* ----- *//* ----- *//* ----- *//* ----- */

.main_carousel-card {
    top: 280px;
    left: 50%;
    height: 164px;
    transform: translateX(-50%);
    z-index: 3;
}

.carousel-card_item {
    margin-right: 20px;
    width: 265px;
    height: 144px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 4px rgba(0,0,0,.15);
    overflow: hidden;
    float: left;
}

.carousel-card_item:nth-last-child(1) {
    margin-right: 0;
}

.carousel-card_item a img {
    width: 100%;
    height: 100%;
    transition: .5s;
}

.carousel-card_item:hover a img {
    transform: scale(1.1);
}


/* ----- *//* ----- *//* ----- *//* ----- *//* ----- */

.main_carousel-button {
    cursor: pointer;
}

.carousel-button {
    position: relative;
    height: 280px;
}

.carousel_back,
.carousel_next {
    position: absolute;
    top: 50%;    
    display: none;
    width: 36px;
    height: 36px;
    background:#fff;
    border-radius: 50%;
    line-height: 36px;
    transform: translateY(-50%);
    cursor: pointer; 
    z-index: 10;
}

.carousel_back {
    left: 0;
}

.carousel_next {
    right: 0;
}

.main_carousel-button:hover .carousel-button .back-next {
    display: block;
}

.back-next:hover {
    border: 1px solid #ddd;
    background: #ff6a00;
}

.carousel_choice {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width:  90px;
    height: 10px;
    transform: translateX(-50%);
    z-index: 5;
}

.choice_item {
    margin: 0 10px 0 0;
    border: 1px solid #ccc;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    float: left;
}

/* ----- *//* ----- *//* ----- *//* ----- *//* ----- */

.main_nav--content {
    height: 50px;
}

.main_nav--content ul li {
    display: inline-block;
    margin: 0 auto;
    padding: 0 14px;
    height: 50px;
    line-height: 50px;
}

.main_nav--content ul li:hover {
    border-bottom: 2px solid #d71a1b;
}

.main_nav--content ul li:hover a{
    color: #ff0a66;
}

/* ----- *//* ----- *//* ----- *//* ----- *//* ----- */

.main_content {
    position: relative;
    left: calc((100% - 1120px) / 2) ;
    width: 848px;
    margin: 10px 20px 10px 0;
    min-height: 1000px;
    float: left;
}

.content-card_item {
    margin-bottom: 20px;
    width: 800px;
    background: #fff;
}

.content-card_item:hover .content-card_right {
    margin-right: 10px;
    transition: all .5s;
}

.content-card_item:hover .content-card_left img {
    transform: scale(1.1); 
    transition: all .5s;
}

.content-card_item a {
    position: relative;
    display: block;
    height: auto;
    overflow: hidden;
}

.content-card_left,
.content-card_right {
    width: 400px;
    background: #fff;
    float: left;
}

.content-card_right {
    position: relative;
    min-height: 200px;
    float: right;
}

.content-card_left { 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.content-card_left img {
    display: block;
    width: 100%;
    height: 100%;
    background: url("https://dummyimage.com/400x200") no-repeat 0/400px 100%;
}

.content-card_right p {
    padding: 0 20px 0 24px;
    text-indent: 24px;
}

.content-card_right h2 {
    padding: 0 20px 0 30px;
    font-size: .2rem;
}

.content-card_right-main{
    margin-bottom: 64px;
    width: 100%;
    overflow: hidden;
}

.content-card_right-footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
}

.content-card_right-footer span {
    display: inline-block;
    padding: 0 5px;
    height: 24px;
    line-height: 24px;
}

.ccrf_left,
.ccrf_right  {
    margin: 20px auto;
    height: 24px;
    float: left;
}

.ccrf_left {
    padding-left: 20px;
}

.ccrf_right {
    float: right;
}



.user-avatar,
.user-name,
.release-time,
.electric,
.comment {
    display: inline-block;
    height: 24px;
}

.user-avatar {
    width: 24px;
    border-radius: 50%;
    background: url("./../img/icon/logo.png") no-repeat 0/300%;
}


.comment {
    margin: 0 20px 0 0;
}

.icon {
    width: 24px;
    height: 24px;
}

.electric>.icon::before {
    content: "\e600";
    text-align: left;
}

.comment>.icon::before {
    content: "\e625";
    text-align: left;
}

/* ----- *//* ----- *//* ----- *//* ----- *//* ----- */

.main_right {
    position: relative;
    left: calc((100% - 1120px) / 2) ;
    width: 252px;
    float: left;
}

.right_top,
.right_middle,
.right_bottom {
    margin: 40px auto ;
    width: 100%;
}

.right_top {
    margin-top: 10px;
}

.right_top a img {
    width: 100%;
    height: 120px;
}


.right_middle ul li {
    margin-bottom: 30px;
}

.right_middle ul li:nth-last-child(1) {
    margin-bottom: 0;
}

.item_sign-title {
    padding: 15px;
    background: #fff;
}

.item_sign-title img {
    width: 50px;
    height: 50px;
    float: left;
}


.item_sign-title .sign-text {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: .2rem;
}

.item_sign-title .sign-text .small {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: .16rem;
}

.item_sign-content {
    width: 250px;
    height: 72px;
}

.item_sign_left,
.item_sign_right {
    height: 72px;
    float: left;
}

.item_sign_left {
    width: 32px;
}

.item_sign_right {
    margin-left: 10px;
    width: 208px;
    font-size: .14rem;
}

.item_sign_right span {
    display: block;
}

.item_sign_right a:hover {
    color: #ff6a00;
}

.item_sign_left .user-avatar {
    width: 32px;
    height: 32px;
}

.item_sign-last {
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.item_sign-last a {
    color: #ff6a00;
}

.right_bottom_icon {
    width: 100%;
    height: 32px;
}

.icon-item {
    margin: 0 41px 0 0;
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
    float: left;
}

.icon-item:nth-last-child(1) {
    margin-right: 0;
}

.icon-item a img {
    width: 100%;
    height: 100%;
}

.right_bottom_link {
    margin: 20px auto;
    overflow: hidden;
}

.right_bottom_link ul li {
    display: block;
    margin: 5px auto;
    width: 84px;
    float: left;
}

.right_bottom_link ul li:nth-child(3n-1) {
    text-align: center;
}

.right_bottom_link ul li a {
    font-size: .12rem;
    color: #999;
}

.right_bottom_link ul li:nth-child(3n) {
    text-align: right;
}

.right_bottom_ssp-text {
    width: 100%;
    overflow: hidden;
}

.right_bottom_ssp-text span,
.right_bottom_ssp-text a {
    display: block;
    margin: 5px auto;
    font-size: .12rem;
    color: #c1bdbd;
}



/* --- *//* --- *//* --- *//* --- *//* --- */
/* dialog-reg-login 登录/注册-对话框 */
.dialog {
    position: fixed;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(41,37,37,.6);
    z-index: 100;
}

.dialog_reg-login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    background: #fff;
    text-align: center;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.reg-login_header,
.reg-login_body,
.reg-login_footer {
    margin: 0 20px;
    max-width: 100%;
}

.reg-login_header {
    padding: 20px 0 10px;
    height: 50px;
}

.reg-login_close {
    width: 20px;
    height: 20px;
    background: #666;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    font-size: .12rem;
    float: right;
    cursor: pointer;
}

.reg-login_close::before {
    content: "\e60b";
    color: #fff;
}

.reg-login_body {
    height: 350px;
}

.reg-login_title {
    margin: 0 auto;
    padding: 40px 0;
    height: 127px;
}

.reg-login_title a img {
    height: 47px;
}

.reg-login_form {
    height: 223px;
    
}

.reg-login_form input {
    border: 1px solid #aaa;
    height: 60px;
    background: #f5f5f5;
    font-size: .16rem;
    color: #292525;
}

.reg-login_form input:focus {
    outline: none;
    background: #fff;
}

.reg-login_form-item {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    height: 62px;
}

.rlmp_countryCode {
    position: absolute;
    width: 70px;
    height: 60px;
    z-index: 1;
    cursor: pointer;
}

.rlmp_countryCode span {
    display: block;
    width: 70px;
    height: 60px;
    line-height: 60px;
    font-size: .16rem;
    color: #aaa;
    float: left;
}


.triangle-icon {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url("./../img/reg-login/select_arrow.a1fc6481.svg") no-repeat;
}

.rlmp_number {
    width: 360px;
    height: 60px;
    background: transparent;
    float: left;
}

.rlmp_number-input {
    padding-left: 70px;
    width: 360px;
    background: transparent;
}

.rlp_password-input {
    padding-left: 10px;
    width: 360px;
}

.rlp_rem-password {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 60px;
    line-height: 60px;
}

.reg-login_button {
    padding: 30px 0 0 0;
}

.forget-password,
.reg-login_button-item {
    margin-left: 10px;
    height: 30px;
    float: left;
}

.reg-login_button-item {
    float: right;
}

.reg-login_button-item button {
    border: 0px solid #ddd;
    width: 55px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
}

.reg_button:hover {
    color: #666;
}

.login_button {
    color: #ff6a00;
}

.login_button:hover {
    color: #fff;
    background: #ff0a66;
}

.reg-login_footer {
    border-top: 1px solid #aaa;
    height: 130px;
}

.reg-login_footer span {
    display: block;
    margin: 20px auto;
}

.reg-login_other {
    margin: 0 auto;
    width: 180px;
    height: 46px;
}

.reg-login_other-item {
    margin: 0 21px 0 0;
    width: 46px;
    height: 46px;
    background: #999;
    border-radius: 50%;
    float: left;
    cursor: pointer;
}

.reg-login_other-item:nth-last-child(1) {
    margin-right: 0;
}

.reg-login_other-item .icon {
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.reg-login_email {
    background: url("./../img/reg-login/emailBtn.135eb789.svg") no-repeat 50% / contain;
}

.reg-login_weixin {
    background: url("./../img/reg-login/weixinBtn.9dea6b4e.svg") no-repeat 50% / contain;
}

.reg-login_weibo {
    background: url("./../img/reg-login/weiboBtn.557dde9e.svg") no-repeat 50% / contain;
}


